* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.contacts {
  display: flex;
  
}