body,
h1,
form,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff4081;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 32px;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

button[type="submit"],
#draw-button,
#reset-button {
  width: 100%;
  padding: 8px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
