body {
    color: white;
    background-image: url("https://media.giphy.com/media/xvRPIAtMwKQ2SlxKtx/giphy-downsized-large.gif");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#main-logo {
    width: 100px;
}

   