body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  color: gainsboro;
  font-size: 2rem;
}

img {
  width: 300px;
  border-radius: 1em;
}

section {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  background-color: #fffaff;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.navbar-ul a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-ul a:hover {
  color: darkslategray;
}

.cat-logo {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
